@model IEnumerable<Bau302ToDoList.Models.Customer>

@{
    ViewBag.Title = "Müşteri Listesi";
}

<h2>Müşteri Listesi</h2>

<p>
    
    <a class="dt-button buttons-excel buttons-html5 btn yellow btn-outline" tabindex="0" aria-controls="sample_1" href="@Url.Action("ExportToExcel","Customers")" style="float:right;"><span>Excele Aktar</span></a>
    @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-primary" })
    <a class="dt-button buttons-excel buttons-html5 btn purple btn-outline" tabindex="0" aria-controls="sample_1" href="@Url.Action("ExportToCsv","Customers")" style="float:right;"><span>Csv Aktar</span></a>
</p>
<table class="table table-stripped table-hover" id="tblRecords">
    <thead>
        <tr >
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.WebSite)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th data-ordeable="false" class="all">Müşteriler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Detaylar", "Details", new { id = item.ID }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
